* {
    color: white;
}
.navitem{
    color: white;
    font-size: 18px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
  
.title {
color: whitesmoke;
font-size: 18px;
}
.qualification{
    font-size: 1.2rem;
}
.mainbody {
    color: white;
    background-image: url(/images/pexels-adrien-olichon-2931286.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
.institute{
    font-size: 24px;
}
.myinfo{
    text-align: center;
}
.projecttitle{
    font-size: 26px;
}
p, li{
    font-size: 20px;
    padding-left: 20px;
}
.mainheading{
    font-style: italic;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 5px;
}