body {
    margin: 0;
    font-family: "Nunito Sans",sans-serif;
    background-color: #f6f8fa;
    -webkit-tap-highlight-color: transparent;
}
.card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    background-color:whitesmoke;
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.title {
    color: black;
    font-size: 18px;
    padding-bottom: 10px;
}
/* .content-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 25px;
    background-color: #fff;
} */
.main-body-box {
    background-color: gainsboro;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    background-color: #fff;
    padding-right: 30px;
    padding-left: 25px;
}
.main-grid a{
    background-color: white;
}
.option-box {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff; 
    border: 1px solid rgba(0,0,0,.07);
    transition: all .15s ease-in-out;
}
.option-box:rover .option-box{
    background-color: hotpink;
}
.option-box-boundary {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 30%), -1px -1px 2px rgb(0 0 0 / 20%);
}
.option-image {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 90px);
    padding: 40px 50px;
    transition: .3s ease-in-out;
}
.option-image img{
    display: block;
    width: 100%;
    height: 100%;
}
.content-detail {
    padding: 15px 10px;
    color: #406cbf;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}